node_modules
Configuration.json
.idea/
Build/
Game/package-lock.json
package-lock.json
Game/.idea/workspace.xml
Game/.idea/watcherTasks.xml
Game/package-lock.json
Game/Build/bundle.js
Game/.idea/watcherTasks.xml
Game/.idea/misc.xml
Game/Javascript/Pages/Login.js
Game/Javascript/Pages/Login.js
Game/Images/walkcyclevarious.xcf
.DS_Store