.BoardSelector {
  position: relative;
  background-color: white;
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;

  .RowContainer{
    overflow-y: scroll;
    border-top: solid 1px black;
    flex: 1;
  }

  .CreateWorld {
    background-color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
    border: solid 2px #b5b5b5;
    position: relative;
    width: 100px;
    text-align: center;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .BoardRow{
    border-top: solid 1px black;
    text-align: left;
    padding: 5px;
    .BoardName{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      text-decoration: underline;
    }
    .NumberInBoardTag{
      display: inline-block;
      font-weight: bold;
    }
    .NumberInBoard{
      text-align: left;
      display:inline-block;
    }
    .LastModifiedTag{
      display:inline-block;
      font-weight: bold;
    }
    .LastModified{
      text-align: left;
      display:inline-block;
    }
    .TileCountTag{
      display:inline-block;
      font-weight: bold;
    }
    .TileCount{
      text-align: left;
      display:inline-block;
    }
  }
}