.GamePage{

  .GameContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .WorldWrapper {
      position: relative;
      text-align: center;
      flex: 1;
      display: flex;

    .ColorSelector {
      position: absolute;
      top: 0px;
      left: 0px;
      transition: top 1s linear;
      height: 219px;
      border: solid 1px black;
      width: 108px;
      background-color: white;

      .RedSlider {
        width: 10px;
        height: 100px;
        padding: 0 5px;
        -webkit-appearance: slider-vertical;
        position: absolute;
        left: 0px;
      }

      .GreenSlider {
        width: 10px;
        height: 100px;
        padding: 0 5px;
        -webkit-appearance: slider-vertical;
        position: absolute;
        left: 20px;
      }

      .BlueSlider {
        width: 10px;
        height: 100px;
        padding: 0 5px;
        -webkit-appearance: slider-vertical;
        position: absolute;
        left: 40px;
      }

      .AlphaSlider {
        width: 10px;
        height: 100px;
        padding: 0 5px;
        -webkit-appearance: slider-vertical;
        position: absolute;
        left: 60px;
      }

      .EyeDropButton {
        background-color: white;
        font-size: 8px;
        padding: 2px;
        border-radius: 2px;
        transition: all 1s;
        cursor: pointer;
        border: solid 2px #b5b5b5;
        position: absolute;
        width: 15px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        left: 85px;
        top: 2px;

        &:hover {
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .PreviewSquare {
        background-color: white;
        width: 21px;
        height: 39px;
        position: absolute;
        top: 62px;
        left: 85px;
        border-radius: 1px;
        border: solid 1px #000000;
      }


      .ToggleSelector {
        background-color: white;
        padding: 3px;
        border-radius: 2px;
        border: solid 2px #b5b5b5;
        position: absolute;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        bottom: -35px;
        height: 25px;
      }

      .TileSelector {
        background-color: white;
        padding: 2px;
        border-radius: 2px;
        border: solid 2px #b5b5b5;
        position: absolute;
        width: 100px;
        height: 108px;
        left: 1px;
        top: 104px;

        .RGBALabel {
          position: absolute;
          left: 4px;
          top: 1px;
          width: 80px;
          height: 30px;
          font-size: 10px;

          .RedLabel {
            color: red;
            position: absolute;
            left: 2px;
            top: 1px;
            width: 5px;
          }

          .GreenLabel {
            color: green;
            position: absolute;
            left: 22px;
            top: 1px;
            width: 5px;
          }

          .BlueLabel {
            color: blue;
            position: absolute;
            left: 42px;
            top: 1px;
            width: 5px;
          }

          .AlphaLabel {
            color: black;
            position: absolute;
            left: 62px;
            top: 1px;
            width: 5px;
          }

          .RedValue {
            color: red;
            position: absolute;
            left: 2px;
            top: 10px;
            width: 5px;
          }

          .GreenValue {
            color: green;
            position: absolute;
            left: 22px;
            top: 10px;
            width: 5px;
          }

          .BlueValue {
            color: blue;
            position: absolute;
            left: 42px;
            top: 10px;
            width: 5px;
          }

          .AlphaValue {
            color: black;
            position: absolute;
            left: 62px;
            top: 10px;
            width: 5px;
          }
        }

        .TileLabel {
          font-size: 10px;
          position: absolute;
          width: 60px;
          text-align: center;
          left: 18px;
          top: 24px;
        }

        .Selected {
          background-color: lightblue;
        }

        .DeleteButton {
          font-size: 12px;
          padding: 1px;
          border-radius: 1px;
          border: solid 1px #b5b5b5;
          position: absolute;
          width: 60px;
          left: 18px;
          top: 36px;
          height: 12px;
          cursor: pointer;
        }

        .BackgroundButton {
          font-size: 12px;
          padding: 1px;
          border-radius: 1px;
          border: solid 1px #b5b5b5;
          position: absolute;
          width: 60px;
          left: 18px;
          top: 54px;
          height: 12px;
          cursor: pointer;
        }

        .SolidButton {
          font-size: 12px;
          padding: 1px;
          border-radius: 1px;
          border: solid 1px #b5b5b5;
          position: absolute;
          width: 60px;
          left: 18px;
          top: 72px;
          height: 12px;
          cursor: pointer;
        }

        .ForegroundButton {
          font-size: 12px;
          padding: 1px;
          border-radius: 1px;
          border: solid 1px #b5b5b5;
          position: absolute;
          width: 60px;
          left: 18px;
          top: 90px;
          height: 15px;
          cursor: pointer;
        }

      }
    }

      .GameArea {
        border: solid 1px black;
        flex: 1;
        min-width: 0;
        outline: none;


      }
    }
    .ChatArea {
      position: relative;
      height: 188px;
      display: flex;
      flex-direction: column;

      .MessageLog {
        position: relative;
        resize: none;
        padding: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 5px;
        overflow-y: scroll;
        flex: 1;

        .ChatAreaMessage{
          white-space: pre;
          padding-bottom: 5px;
          color: black;
        }
      }

      .TextInput {
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
      }
    }

    .LogoutBtn {
      background-color: white;
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      transition: all 1s;
      cursor: pointer;
      border: solid 2px #b5b5b5;
      position: relative;
      width: 100px;
      text-align: center;
      align-self: flex-end;
      display: inline-block;
      float:right;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .ScoreButton {
      background-color: white;
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      transition: all 1s;
      cursor: pointer;
      border: solid 2px #b5b5b5;
      position: relative;
      width: 100px;
      text-align: center;
      align-self: flex-end;
      display: inline-block;
      float:right;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .SpriteButton {
      background-color: white;
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      transition: all 1s;
      cursor: pointer;
      border: solid 2px #b5b5b5;
      position: relative;
      width: 100px;
      text-align: center;
      align-self: flex-end;
      display: inline-block;
      float:right;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}