.ScorePopover{
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  text-align: center;
  border: solid 1px gray;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px gray;
  background-color: white;
  padding: 20px;
  opacity: 0.8;

  .ScoreTitle{
    padding-bottom: 10px;
  }
}