.SpritePopover {

  position: absolute;
  top: 5px;
  left: 5px;
  width: 394px;
  height: 200px;
  text-align: center;
  border: solid 1px gray;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px gray;
  background-color: white;
  padding: 20px;
  opacity: 0.8;

  .Selected {
    background-color: lightblue;
  }

  .Sprite1{
    position: absolute;
    top: 130px;
    left: 100px;
    width: 32px;
    height: 50px;

    .Clip1{
      position: absolute;
      clip: rect(0px, 466px, 45px, 402px);
      left: -402px;
    }
  }

  .Sprite2{
    position: absolute;
    top: 130px;
    left: 168px;
    width: 32px;
    height: 50px;

    .Clip2{
      position: absolute;
      clip: rect(59px, 466px, 108px, 402px);
      left: -402px;
      top: -59px;
    }
  }

  .Sprite3{
    position: absolute;
    top: 130px;
    left: 237px;
    width: 32px;
    height: 50px;

    .Clip3{
      position: absolute;
      clip: rect(123px, 466px, 166px, 402px);
      left: -402px;
      top: -123px;
    }
  }

  .Sprite4{
    position: absolute;
    top: 130px;
    left: 305px;
    width: 32px;
    height: 50px;

    .Clip4 {
      position: absolute;
      clip: rect(185px, 466px, 227px, 402px);
      left: -402px;
      top: -185px;
    }
  }

  .Sprite5{
    position: absolute;
    top: 185px;
    left: 100px;
    width: 32px;
    height: 50px;

    .Clip5 {
      position: absolute;
      clip: rect(246px, 466px, 288px, 402px);
      left: -402px;
      top: -246px;
    }
  }

  .Sprite6{
    position: absolute;
    top: 185px;
    left: 168px;
    width: 32px;
    height: 50px;

    .Clip6 {
      position: absolute;
      clip: rect(307px, 466px, 352px, 402px);
      left: -402px;
      top: -307px;
    }
  }

  .Sprite7{
    position: absolute;
    top: 185px;
    left: 237px;
    width: 32px;
    height: 50px;

    .Clip7 {
      position: absolute;
      clip: rect(368px, 466px, 413px, 402px);
      left: -402px;
      top: -368px;
    }
  }

  .Sprite8{
    position: absolute;
    top: 185px;
    left: 305px;
    width: 32px;
    height: 50px;

    .Clip8 {
      position: absolute;
      clip: rect(432px, 466px, 474px, 402px);
      left: -402px;
      top: -432px;
    }
  }

  .SaveSprite {
    background-color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
    border: solid 2px #b5b5b5;
    text-align: center;
    width: 100px;
    bottom: 50px;
    display: inline-block;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .CloseButton {
    background-color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
    border: solid 2px #b5b5b5;
    text-align: center;
    width: 100px;
    bottom: 50px;
    display: inline-block;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
}