@import 'Pages/Login';
@import 'Pages/Registration';
@import 'Pages/Game/ScorePopover';
@import 'Pages/Game/Game';

html {
  background: #f9ffcd;
}

.MissedErrorDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  white-space: pre;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  overflow-y: auto;
}